version: '3.9'

services:
  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  redis:
    image: redis:8
    ports:
      - "6379:6379"

  web-scraper-api:
    build: .
    working_dir: /usr/src/app
    volumes:
      - ./:/usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
      - redis

volumes:
  mongodb_data:
